.App {
  text-align: center;
  background-color: #c7e7f3;
}

.App-header {
  background-color: #c7e7f3;
  height: 10%;
  display: flex;
  align-content: left;
  color: white;
  padding-left: 1%;
}

.App-header p{
  font-size: 15px;
  color: white;
}

.menu {
  background-color: #dbe6de;
  height: 5%;
  display: flex;
  color: white;
  padding-left: 1%;
}

.ide {
  background-color: #c7e7f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom:0;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1.5%;
}

.ide-editor {
  background-color: #eff3e250;
  border-radius: 5px;
  z-index: 0;
}

.scenediv {
  background-color: #c7e7f3;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#scene {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  /* pointer-events: none; */
  transition: opacity 5s;
  opacity: 1;
}

#scene.scene-leave {
  opacity: 0;
}

#next-scene {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  /* pointer-events: none; */
  transition: opacity 5s;
  opacity: 0;
}

#next-scene.scene-come {
  opacity: 1;
}