html, body {
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #c7e7f3;
  bottom: 0;
  overflow: hidden;
}

.header {
  background-color: #c7e7f3;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: left;
  color: white;
  padding: 1%;
  padding-left: 3%;
}

#logo {
  height: 5vh;
}

.header p {
  font-size: 5vh;
  font-weight: bold;
  color: #448479;
  margin:0;
}

.ide {
  background-color: #c7e7f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  padding-left: 3%;
  padding-right: 3%;
  /* padding-top: 1.5%; */
  z-index: -2;
}

.ide-editor {
  background-color: #eff3e250;
  border-radius: 5px;
  bottom: 0;
  z-index: 0;
}

.scenediv {
  background-color: #c7e7f3;
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#next-scene {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  /* pointer-events: none; */
  transition: opacity 5s;
  opacity: 0;
}

#next-scene.scene-come {
  opacity: 1;
}


#art {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  /* pointer-events: none; */
  opacity: 1;
  transform: translateY(300px);
  transition: transform 800ms ease-in;
}

#art.slideIn {
  transform: translateY(0);
}

#art.slideOut {
  transform: translateY(300px);
}

#art-factory {
  width: 100%;
  position: absolute;
  bottom: -450px;
  left: 0px;
  z-index: 0;
  /* pointer-events: none; */
  opacity: 1;
  transform: translateY(0);
  transition: transform 800ms ease-in;
}

#art-factory.slideIn {
  transform: translateY(-450px);
}

#art-factory.slideOut {
  transform: translateY(0);
}

#art-scene {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  /* pointer-events: none; */
  opacity: 1;
  transition: opacity 3s;
}

#art-scene.fadeIn {
  opacity: 1;
}

#art-scene.fadeOut {
  opacity: 0;
}

#art-factory-scene {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  /* pointer-events: none; */
  opacity: 0;
  transition: opacity 3s;
}

#art-factory-scene.fadeIn {
  opacity: 1;
}

#art-factory-scene.fadeOut {
  opacity: 0;
}